body {
    background: black;
    color:#8c0707;
}
h1 {
    color: #8c0707;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
}